@font-face {
   font-family: "poker_kings";
   src: url("../fonts/PokerKings-Regular.ttf");
 }

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/*   GENERAL FEATURES   */
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

body {
	margin: 0;
}

table {
	margin-left: 10px;
}

a {
	cursor: pointer;
}

button {
	position: relative;
	z-index: 99;
}

img {
	position: relative;
	z-index: 99;
}

h2 {
	font-size: 25px;
	color: white;
	position: relative;
	z-index: 99;
}

/* ▬▬▬▬▬▬▬▬▬▬ */
/*   BANNER   */
/* ▬▬▬▬▬▬▬▬▬▬ */

header#banner {
	background: url("../images/banner2.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 200px;
}

header#banner .overlay {
	background-color: rgba(0,0,0,.25);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


header#banner .logo{
	width: 30%;
}
header#banner .logo img {
	position: relative;
	width: 100%;
	height: 280px;
	z-index: 99;
	margin-top: 30px;
}

/* Header message */
div.header-text {
	display: flex;
	flex-direction: row;
	font-family: poker_kings;
	font-size: 25px;
	letter-spacing: 4px;
	color: red;
	z-index: 99;
	text-align: right;
	margin-right: 55px;
}

div.header-text img{
	width: 20%;
	transform: rotate(30deg);
}

div.header-text h1 span {
	font-size: 60px;
	color: black;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/*   GAME CONTENT   */
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

section#desk {
	background: url("../images/desk.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:30px;
}

section#desk .overlay-desk {
	background-color: rgba(0,0,0,.55);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

section#desk .menu {
	width: 30%;
}

section#desk .menu table .coin {
	background-color: white;
	position: relative;
	z-index: 99;
	width: 70%;
	border-radius: 100%;
	margin-right: -200px;
}

section#desk .menu table .coin img {
	width: 100%;
}

section#desk .game-table {
	width: 50%;
}

section#desk .game-table div:first-child {
	display: none;
	background-color: red;
	width: 10%;
	padding: 1px 20px 1px 20px;
	border-radius: 100%;
}

section#desk .game-table div:first-child h2 {
	font-family: arial;
	font-size: 30px;
	text-align: center;
}

/* Cards container */
section#desk .game-table .cards {
	padding: 40px;
	height: 200px;
}

/* Cards images */
section#desk .game-table .cards img {
	width: 28%
}

section#desk .game-table .cards img:first-child {
	transform: rotate(-20deg);
}

section#desk .game-table .cards img:nth-child(2) {
	transform: rotate(-8deg);
	margin-left: -50px;
}

section#desk .game-table .cards img:nth-child(3) {
	transform: rotate(5deg);
	margin-left: -50px;
}

section#desk .game-table .cards img:last-child {
	transform: rotate(8deg);
	margin-left: -50px;
}

/* Buttons container */
section#desk .buttons {
	width: 10%;
}

/* Control buttons */
section#desk .buttons button {
	display: none;
	margin: 10px;
	padding: 30px 20px 30px 20px;
	background-color: rgb(80,80,80);
	border:none;
	font-family: arial;
	font-size: 15px;
	color: white;
	border-radius: 100%;
	z-index: 99;
	box-shadow: 5px 5px black;
	outline: none;
	cursor: pointer;
}

section#desk .buttons button:hover {
	background-color: rgb(100,100,100);
	border:none;
}